{% block content %}
    <b>Display information about xml file:</b>
    <p> {{ nome }}</p>
    <p> {{ codigo }}</p>
    <a href="filter_grau?grau_nome={{ grau }}">{{ grau }}</a>
    <h2>Departamentos</h2>
    <ul>
      {% for d in departamento %}
      <li>
        <a href="filter_dep?departamento_nome={{ departamento }}">{{ d }}</a>
        <!--{{ d }}-->
      </li>
      {% endfor %}
    </ul>

    <h2> Áreas Cientificas: </h2>
    <ul>
      {% for a in areaCientifica %}
      <li>
       <a href="filter_area?areaCientifica_nome={{ areaCientifica_nome }}">{{ a }}</a>
        <!--{{ a }}-->
      </li>
      {% endfor %}
    </ul>
    <a href="filter_local?local_nome={{ local }}">{{ local }}</a>
{% endblock %}