<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert data to xml file</title>
</head>
<body>

<form action="/my-handling-form-page" method="post">
  <div>
    <label for="guid">Guid</label>
    <input type="text" name="guid">
  </div>
  <div>
    <label for="codigo">Código</label>
    <input type="text" name="codigo">
  </div>
  <div>
    <label for="nome">Nome</label>
    <textarea type="text" name="Nome"></textarea>
  </div>
    <div>
    <label for="nota">Nota</label>
    <textarea type="text" name="nota"></textarea>
  </div>
    <div>
    <label for="grau">Grau</label>
    <textarea type="text" name="grau"></textarea>
  </div>
    <div>
    <label for="ciclo">Ciclo</label>
    <textarea type="text"name="ciclo"></textarea>
  </div>
    <div>
    <label for="departamento">Departamento</label>
    <textarea type="text" name="new_info"></textarea>
  </div>
    <div>
    <label for="areacientifica">Area cientifica</label>
    <textarea type="text" name="areacientifica"></textarea>
  </div>
     <div>
    <label for="areasformacao">Areas Formacao</label>
    <textarea type="text" name="areasformacao"></textarea>
  </div>
     <div>
    <label for="regime">Regime</label>
    <textarea type="text" name="regime"></textarea>
  </div>
     <div>
    <label for="local">Local</label>
    <textarea type="text"name="local"></textarea>
  </div>
     <div>
    <label for="provas">Provas</label>
    <textarea type="text" name="provas"></textarea>
  </div>
     <div>
    <label for="m23">Maiores de 23</label>
    <textarea type="text" name="m23"></textarea>
  </div>
    <div>
    <label for="abrecandidaturas">Abretura de candidaturas</label>
    <textarea type="text" name="abrecandidaturas"></textarea>
  </div>
    <div>
    <label for="ultimaalteracao">Ultima alteração</label>
    <textarea type="text" name="ultimaalteracao"></textarea>
  </div>
</form>

</body>
</html>