<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert data to xml file</title>
</head>
<body>

<form action="/my-handling-form-page" method="post">
  <div>
    <label for="xml_file">Name of xml file:</label>
    <input type="text" id="name" name="xml_file">
  </div>
  <div>
    <label for="new_xml_file">New name to xml file:</label>
    <input type="text" id="name" name="new_xml_file">
  </div>
  <div>
    <label for="new_info">New information: </label>
    <textarea id="msg" name="new_info"></textarea>
  </div>
</form>

</body>
</html>