<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <title>xpath project</title>

</head>
<body>

     <div align="center">
        <h1> XML - xpath</h1>
    </div>


    <div align="center">
        <form action='actionUrl' method='GET'>
        <button type='submit'> Show infomation about cursos </button>
        </form>
    </div>

     <br>

     <div align="center">
        <form action='infoDep' method='GET'>
        <button type='submit'> Show infomation about departments </button>
        </form>
     </div>

     <br>

     <div align="center">
        <form action='infoArea' method='GET'>
        <button type='submit'> Show infomation about cientific areas </button>
        </form>
     </div>

     <br>

     <div align="center">
        <form action='infoLocal' method='GET'>
        <button type='submit'> Show infomation about Locals</button>
        </form>
     </div>



</body>
</html>